ADF-pipelines/pipeline/pl_Ingest_Ecdc_Data.json
{
	"name": "pl_Ingest_Ecdc_Data",
	"properties": {
		"description": "Pipeline to copy data from ECDC website to DL.",
		"activities": [
			{
				"name": "Lookup for file list",
				"description": "looks for the list of files to get data from",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ECDC_URL_Data_JSON",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute copy for each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for file list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for file list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy ECDC data from the ECDC website",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_ECDC_csv_data_http",
									"type": "DatasetReference",
									"parameters": {
										"sourceRelativeURL": {
											"value": "@item().sourceRelativeURL",
											"type": "Expression"
										},
										"sourceBaseURL": {
											"value": "@item().sourceBaseURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw_csv_data",
									"type": "DatasetReference",
									"parameters": {
										"sinkFileName": {
											"value": "@item().sinkFileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-06-19T13:56:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}